<!DOCTYPE html>
<html>
  <head>
    <title>TEAM | Asset Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  </head>

  <body>
    <header>
      <a href="/" class="logo">TE<span>A</span>M</a>
      <nav>
        <ul>
          <li><a href="/" class="<%= current_page?(root_path) ? 'active' : '' %>">Dashboard</a></li>
          <li><a href="/properties" class="<%= current_page?(properties_path) ? 'active' : '' %>">Portfolio</a></li>
          <li><a href="<%= maintenance_tickets_path %>" class="<%= current_page?(maintenance_tickets_path) ? 'active' : '' %>">Operaciones</a></li>
          <li><a href="<%= opportunities_path %>" class="<%= current_page?(opportunities_path) ? 'active' : '' %>">Marketplace</a></li>

        </ul>
      </nav>
      <div class="user-profile">
        <div class="user-avatar">AV</div>
        <div style="display: flex; flex-direction: column;">
          <span style="font-size: 0.8rem; font-weight: 500;">Alejandro Valenzuela</span>
          <span style="font-size: 0.65rem; color: var(--secondary);">Investor Member</span>
        </div>
      </div>
    </header>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
